<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find tr3_description)/robots/tr3.urdf.xacro" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="/joint_states" to="/tr3/joint_states" />
  </node>

  <include file="$(find tr3_moveit)/launch/ik_services.launch" />
  
  <include file="$(find tr3py)/launch/rosserial.launch" />

  <node pkg="tr3py" name="tr3_node" type="tr3.py" output="screen" required="true" />
  <node pkg="tr3py" name="tr3_forward_ik" type="tr3_forward_ik.py" output="screen" required="true" />

</launch>
