<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<gazebo reference="link_b0">
		<material>Gazebo/DarkGrey</material>
		<collision>
      <surface>
			  <contact>
		      <ode>
		        <kp>1e15</kp>
		        <kd>1e13</kd>
		      </ode>
		    </contact>
        <friction>
          <ode>
            <mu>100000.0</mu>
            <mu2>100000.0</mu2>
            <slip1>0.0</slip1>
            <slip2>0.0</slip2>
          </ode>
        </friction>
      </surface>
		</collision>
	</gazebo>

	<gazebo reference="base_link">
		<material>Gazebo/DarkGrey</material>
	</gazebo>

	<gazebo reference="link_b1">
		<material>Gazebo/DarkGrey</material>
		<collision>
      <surface>
			  <contact>
		      <ode>
		        <kp>1e15</kp>
		        <kd>1e13</kd>
		      </ode>
		    </contact>
        <friction>
          <ode>
            <mu>100000.0</mu>
            <mu2>100000.0</mu2>
            <slip1>0.0</slip1>
            <slip2>0.0</slip2>
          </ode>
        </friction>
      </surface>
		</collision>
	</gazebo>

	<gazebo reference="link_b2">
		<material>Gazebo/DarkGrey</material>
	</gazebo>

	<gazebo reference="link_b3">
		<material>Gazebo/DarkGrey</material>
	</gazebo>

</robot>
